<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
		</div>
		<div class="footer__social">
			{{ with .Site.Params.social }}
			<a class="footer__social-link" href="{{ .facebook }}" target="_blank" aria-label="Facebook">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a class="footer__social-link" href="{{ .instagram }}" target="_blank" aria-label="Instagram">
				<i class="fab fa-instagram"></i>
			</a>
			{{- end }}
		</div>
	</div>
</footer>