{{- if .Site.Menus.main }}
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
		<span class="menu__icon">
			<!-- Example using an SVG hamburger icon -->
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white"><path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"/></svg>
		</span>
	</button>
	<ul class="menu__list">
		{{- $currentNode := . }}
		{{- range .Site.Menus.main }}
			{{- if .HasChildren }}
				<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }} menu-item-has-children">
					<a class="menu__link" href="{{ .URL }}">
						{{ .Pre }}
						<span class="menu__text">{{ .Name }}</span>
						{{ .Post }}
					</a>
					<ul class="sub-menu">
						{{- range .Children }}
							<li class="sub-menu__item">
								<a class="sub-menu__link" href="{{ .URL }}">
									{{ .Pre }}
									<span class="sub-menu__text">{{ .Name }}</span>
									{{ .Post }}
								</a>
							</li>
						{{- end }}
					</ul>
				</li>
			{{- else }}
				<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
					<a class="menu__link" href="{{ .URL }}">
						{{ .Pre }}
						<span class="menu__text">{{ .Name }}</span>
						{{ .Post }}
					</a>
				</li>
			{{- end }}
		{{- end }}
	</ul>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}
