{{- if .Site.Menus.main }}
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
		<span class="menu__icon">
			<!-- Example using an SVG hamburger icon -->
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white"><path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"/></svg>
		</span>
	</button>
	
	<ul class="menu__list">
		{{- $currentNode := . }}
		{{- range .Site.Menus.main }}
			{{- if .HasChildren }}
				<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }} menu-item-has-children">
					<a class="menu__link" href="{{ .URL }}">
						{{ .Pre }}
						<span class="menu__text">{{ .Name }}</span>
						{{ .Post }}
					</a>
					<ul class="sub-menu">
						{{- range .Children }}
							<li class="sub-menu__item">
								<a class="sub-menu__link" href="{{ .URL }}">
									{{ .Pre }}
									<span class="sub-menu__text">{{ .Name }}</span>
									{{ .Post }}
								</a>
							</li>
						{{- end }}
					</ul>
				</li>
			{{- else }}
				<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
					<a class="menu__link" href="{{ .URL }}">
						{{ .Pre }}
						<span class="menu__text">{{ .Name }}</span>
						{{ .Post }}
					</a>
				</li>
			{{- end }}
		{{- end }}
		<!-- Search Button -->
		<button class="search__btn" id="search-btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
			<span class="search__icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white"><path d="M15.5 14h-.79l-.28-.27C16.41 12.59 17 11.11 17 9.5 17 5.91 14.09 3 10.5 3S4 5.91 4 9.5 6.91 16 10.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-5 0C7.01 14 5 11.99 5 9.5S7.01 5 10.5 5 16 7.01 16 9.5 13.99 14 10.5 14z"></path></svg>
			</span>
		</button>
	</ul>
    
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}
